## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,55.11,92,0,4.61,clear sky
1,1,Iqaluit,CA,63.7506,-68.5145,24.53,79,75,13.80,broken clouds
2,2,East London,ZA,-33.0153,27.9116,60.10,76,0,5.61,clear sky
3,3,Nuuk,GL,64.1835,-51.7216,34.41,93,100,15.01,overcast clouds
4,4,Suez,EG,29.9737,32.5263,64.27,69,7,8.57,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp= float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
ideal_cities_df=city_data_df.loc[(city_data_df["Max Temp"]>= min_temp)&(city_data_df["Max Temp"]<=max_temp)]
ideal_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Mananara,MG,-16.1667,49.7667,72.16,91,38,5.12,scattered clouds
11,11,Aripuana,BR,-9.1667,-60.6333,75.58,80,30,1.23,scattered clouds
12,12,Sabzevar,IR,36.2126,57.6819,67.12,42,17,8.21,few clouds
22,22,Sidi Ali,DZ,36.0998,0.4206,65.93,56,1,8.72,clear sky
26,26,Cariacica,BR,-20.2639,-40.4200,74.59,78,0,9.22,clear sky
27,27,Abha,SA,18.2164,42.5053,66.02,55,0,0.00,clear sky
35,35,Manta,EC,-0.9500,-80.7333,78.58,83,100,8.05,overcast clouds
36,36,Lodja,CD,-3.4833,23.4333,70.57,93,100,0.92,overcast clouds
40,40,Camocim,BR,-2.9022,-40.8411,76.37,88,98,8.37,overcast clouds
41,41,Ponta Do Sol,PT,32.6667,-17.1000,68.00,82,31,6.78,scattered clouds

In [8]:
# 4a. Determine if there are any empty rows.
ideal_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
ideal_cities_df= ideal_cities_df.dropna()

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = ideal_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mananara,MG,72.16,scattered clouds,-16.1667,49.7667,
11,Aripuana,BR,75.58,scattered clouds,-9.1667,-60.6333,
12,Sabzevar,IR,67.12,few clouds,36.2126,57.6819,
22,Sidi Ali,DZ,65.93,clear sky,36.0998,0.4206,
26,Cariacica,BR,74.59,clear sky,-20.2639,-40.4200,
27,Abha,SA,66.02,clear sky,18.2164,42.5053,
35,Manta,EC,78.58,overcast clouds,-0.9500,-80.7333,
36,Lodja,CD,70.57,overcast clouds,-3.4833,23.4333,
40,Camocim,BR,76.37,overcast clouds,-2.9022,-40.8411,
41,Ponta Do Sol,PT,68.00,scattered clouds,32.6667,-17.1000,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Mananara,MG,72.16,scattered clouds,-16.1667,49.7667,Chez Roger
11,Aripuana,BR,75.58,scattered clouds,-9.1667,-60.6333,
12,Sabzevar,IR,67.12,few clouds,36.2126,57.6819,پزشکی قانونی سبزوار
22,Sidi Ali,DZ,65.93,clear sky,36.0998,0.4206,
26,Cariacica,BR,74.59,clear sky,-20.2639,-40.4200,Recanto da Vivi

In [16]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df=hotel_df.dropna()

In [17]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))