## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Mananara,MG,72.16,scattered clouds,-16.1667,49.7667,Chez Roger
1,11,Aripuana,BR,75.58,scattered clouds,-9.1667,-60.6333,NaN
2,12,Sabzevar,IR,67.12,few clouds,36.2126,57.6819,پزشکی قانونی سبزوار
3,22,Sidi Ali,DZ,65.93,clear sky,36.0998,0.4206,NaN
4,26,Cariacica,BR,74.59,clear sky,-20.2639,-40.4200,Recanto da Vivi

In [16]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [17]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Country"]=="BR")&(vacation_df["City"]=="Pontes E Lacerda")]
vacation_end = vacation_df.loc[(vacation_df["Country"]=="BR")&(vacation_df["City"]=="Pontes E Lacerda")]
vacation_stop2 = vacation_df.loc[(vacation_df["Country"]=="CO")&(vacation_df["City"]=="Puerto Leguizamo")]
vacation_stop3 = vacation_df.loc[(vacation_df["Country"]=="CO")&(vacation_df["City"]=="Puerto Carreno")]

In [56]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
79,266,Pontes E Lacerda,BR,72.19,overcast clouds,-15.2261,-59.3353,Hotel Bressan

In [57]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
112,378,Puerto Leguizamo,CO,73.81,broken clouds,-0.1934,-74.7819,la casona de juancho

In [49]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
171,578,Puerto Carreno,CO,79.41,light rain,6.189,-67.4859,Casa Hotel Victoria

In [58]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]

stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [59]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop2, stop3],
    travel_mode ='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,266,Pontes E Lacerda,BR,72.19,overcast clouds,-15.2261,-59.3353,Hotel Bressan
1,266,Pontes E Lacerda,BR,72.19,overcast clouds,-15.2261,-59.3353,Hotel Bressan
2,378,Puerto Leguizamo,CO,73.81,broken clouds,-0.1934,-74.7819,la casona de juancho
3,578,Puerto Carreno,CO,79.41,light rain,6.1890,-67.4859,Casa Hotel Victoria
4,266,Pontes E Lacerda,BR,72.19,overcast clouds,-15.2261,-59.3353,Hotel Bressan

In [61]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [62]:
# 11a. Add a marker layer for each city to the map.
waypoints=[stop1,stop2,stop3]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)

marker_layer=gmaps.marker_layer(locations,info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

NameError: name 'stop1' is not defined